.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.main-con {
    padding: 20px;
    width: 100%;
    height: 700px;
}

.centralPage {
    padding: 50px;
    width: 100%;
    height: auto;
}

.top-con {
    background-color: cornflowerblue;
    padding: 20px;
    width: 100%;
    vertical-align: bottom;
}

.tblCell {
    vertical-align: bottom;
    text-align: right;
    width: 50px;
}

.addressCell {
    vertical-align: bottom;
    text-align: left;
    /*width: 50px;*/
    width: 100%;
}

.priceCell {
    font-size: 36px;
    font-weight: bold;
}

.pgBanner{
    background-color: cornflowerblue;
    min-width: 992px;
    max-width:960px;
    padding-left:15px;
    padding-right:15px;
    margin-right:auto;
    margin-left:auto;
}


